/* #search-container{
    position: absolute;
    top: 55vh;
    z-index: 5;
    margin-left: 10%;
    margin-right: 10%;
    width: 100vw;
} */

/* app-home-carousel{
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
} */


