<!-- Dawn images -->
<carousel *ngIf="currenthour >= 0 && currenthour < 7">
  <slide>
    <img class="carousel-images" src="assets/images/dawnimage1.jpeg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/dawnimage2.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/dawnimage3.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/dawnimage4.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/dawnimage5.jpg">
  </slide>
</carousel>

<!-- Morning Images -->
<carousel *ngIf="currenthour >= 7 && currenthour < 12">

  <slide>
    <img class="carousel-images" src="assets/images/morningimage1.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/morningimage2.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/morningimage3.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/morningimage4.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/morningimage5.jpg">
  </slide>
</carousel>

<!-- Afternoon images -->
<carousel *ngIf="currenthour >= 12 && currenthour < 16">
  <slide>
    <img class="carousel-images" src="assets/images/afternoonimage1.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/afternoonimage2.jpeg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/afternoonimage3.jpeg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/afternoonimage4.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/afternoonimage5.jpg">
  </slide>
</carousel>

<!-- Evening images -->
<carousel *ngIf="currenthour >= 16 && currenthour < 20">
  <slide>
    <img class="carousel-images" src="assets/images/eveningimage1.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/eveningimage2.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/eveningimage3.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/eveningimage4.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/eveningimage5.jpg">
  </slide>
</carousel>

<!-- Night images -->
<carousel *ngIf="currenthour >= 20 && currenthour < 24">
  <slide>
    <img class="carousel-images" src="assets/images/nightimage1.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/nightimage2.jpeg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/nightimage3.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/nightimage4.jpg">
  </slide>
  <slide>
    <img class="carousel-images" src="assets/images/nightimage5.jpg">
  </slide>
</carousel>
